@charset "UTF-8";

body {
	font-family: SBAggroM;
}

.nav-link {
	color: gray;
}
.searchpw-title{
	margin-top:50px;
	margin-bottom:30px;
}
.title {
	margin: 100px auto;
	width: 300px;
	heitght: 300px;
	display: flex;
	justify-content: center;
}

.background {
	width: 600px;
	height: 780px;
	background-color: white;
	margin: 0 auto;
	border-radius: 50px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.login-switch {
	margin: 20px 100px;
	font-size: 24px;
}

.login-info {
	margin: 30px 100px;
	color: gray !important;
}

.search-info {
	justify-content: center;
	margin: 20px;
}

.search-info :hover {
	color: black !important;
}

.btn-login {
	width: 400px;
	display: flex;
	margin: 10px auto;
	background-color: #7e00c2;
	color: white;
	justify-content: center;
}

.btn-login:hover {
	background-color: #9432c9;
	color: white;
	border: 1px solid #9432c9;
}

.btn-signup {
	width: 400px;
	display: flex;
	margin: 10px auto;
	color: gray;
	justify-content: center;
}