<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pointhome.www.mypage.dao.face.MypageDao">

	<select id="selectByUserId" resultType="User" parameterType="int">
		SELECT * FROM user_tb
		WHERE user_no = #{userNo}
	</select>
	
	<update id="updateUser" parameterType="User">
		UPDATE user_tb 
		SET
	 	user_nick = #{userNick},
	 	user_pw = #{userPw},
	 	user_phone = #{userPhone},
	 	user_postcode = #{userPostCode},
	 	user_address = #{userAddress},
		user_detailaddress = #{userDetailAddress},
		user_extraaddress = #{userExtraAddress}
		WHERE
		user_no = #{userNo}
	</update>
	
	<delete id="deleteFile" parameterType="UserFile">
		DELETE userfile_tb
		WHERE user_no = #{userNo}
	</delete>
	
	<insert id="insertFile" parameterType="UserFile">
		INSERT INTO userfile_tb
		(userfile_no
		, user_no
		, user_img)
		VALUES (userfile_tb_seq.nextval, #{userNo}, #{userImg})
	</insert>

	<select id="selectImgByUserno" parameterType="int" resultType="UserFile">
		SELECT * FROM userfile_tb
		WHERE user_no = #{userNo}
	</select>
	
	<delete id="deleteMemberByUserno" parameterType="int">
	delete from user_tb where user_no = #{userNo}
	</delete>
	
	<select id="selectByPickUserNo" parameterType="MyPick" resultType="int">
		SELECT COUNT(*) FROM partner_pick
		WHERE user_no = #{userNo} AND part_no = #{partNo}
	</select>
	
	<insert id="insertPick" parameterType="MyPick">
	    <selectKey order="BEFORE" resultType="int"
         keyProperty="pickNo">
         SELECT pick_no_seq.nextval FROM dual
      </selectKey>
		INSERT INTO partner_pick (pick_no, user_no, part_no)
		VALUES (#{pickNo}, #{userNo}, #{partNo})
	</insert>
	
	<delete id="deletePick" parameterType="MyPick">
		DELETE FROM partner_pick
		WHERE user_no = #{userNo} AND part_no = #{partNo}
	</delete>
	
	<select id="selectBoardByUserNo" parameterType="int" resultType="FreeBoard">
		SELECT freeboard_no, freeboard_title, freeboard_date, freeboard_hit FROM freeboard WHERE user_no = #{userNo} ORDER BY freeboard_no DESC
	</select>
	
	<select id="selectAlertCnt" parameterType="int" resultType="int">
       select count(*) from user_alert where user_no = #{userNo} and is_read ='N'
	</select>
	
	<update id="deleteAlertByUserno" parameterType="int">
		 UPDATE user_alert set is_read = 'Y' where user_no = #{userNo}
	</update>
	
	<select id="selectReserveList" parameterType="Map" resultType="Map">
       SELECT * FROM
       (SELECT ROWNUM rnum, PR.*
        FROM(
        SELECT P.partner_shopname, P.partner_phone, P.partner_email, P.partner_type, P.partner_name
        , R.*,
        (SELECT COUNT(*) From review WHERE user_no = #{userNo} and res_no = R.res_no) isReview
        FROM partner_tb P, reservation R
        WHERE R.user_no = #{userNo}
		AND P.partner_no = R.part_no
		ORDER BY res_no DESC) PR
        ORDER BY rnum
        )
        WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
        
	</select>
	
	<insert id="insertMyReview" parameterType="Review">
		<selectKey order="BEFORE" resultType="int" keyProperty="partNo">
			select part_no from reservation where user_no = #{userNo} and res_no = #{resNo}
		</selectKey>
		INSERT INTO review (review_no, review_content, review_grade, user_no, res_no,  part_no)
		VALUES
		(
		review_no_seq.nextval,
		#{reviewContent},
		#{reviewGrade},
		#{userNo},
		#{resNo},
		#{partNo}
		)
	</insert>

	<delete id="deleteMyReview" parameterType="Review">
		DELETE FROM review
		WHERE user_no = #{userNo} AND res_no = #{resNo}
	</delete>
	
	<select id="selectMyReviewList" parameterType="Map" resultType="Map">
        select * from
        (select rownum rnum, RV. *
        from
		(select PT.partner_shopname, PT.partner_type,
		R.*
		FRom partner_tb PT, review R
		where pt.partner_no = R.part_no
		and user_no = #{userNo}
        order by review_date desc) RV 
        order by rnum
        )
        where rnum between #{paging.startNo} and #{paging.endNo}
	</select>
	
	<select id="selectBoardPaging" resultType="int" parameterType="map">
		SELECT count(*) from freeboard where user_no = #{userNo}
	</select>
	
	
	<select id="getMyBoardList" resultType="FreeBoard" parameterType="map">
		select * from (
			select rownum rnum , B.*  from ( 
				select freeboard_title, freeboard_no, freeboard_date from freeboard where user_no = #{userNo}
				order by freeboard_no desc 
			) B 
		)freeboard
		where rnum between #{paging.startNo} and #{paging.endNo}
	</select>
	
	<delete id="myBoardListDelete" parameterType="String">
		DELETE FROM freeboard WHERE freeboard_no = #{freeboardNo}
	</delete>
	
	<select id="selectPickPaging" resultType="int" parameterType="map">
		SELECT count(*) FROM partner_pick WHERE user_no = #{userNo}
	</select>
	
	<select id="getPickList" parameterType="int" resultType="Map" >
            SELECT rownum rnum , B.*  from (
            SELECT pf.partnerfile_no, pf.partner_no as pf_partner_no, pf.partner_img, pt.partner_no, pt.partner_shopname, pt.partner_type, pt.partner_nick, pp.pick_no 
            FROM partner_tb pt, partner_pick pp ,partnerfile_tb pf 
            where pt.partner_no = pp.part_no 
            and pf.partner_no(+) = pt.partner_no 
            and user_no= #{userNo} 
            order by pp.pick_no DESC
           ) B
   			WHERE rownum between #{paging.startNo} and #{paging.endNo}
	</select>
	
	<delete id="myPickListDelete" parameterType="String">
		DELETE FROM partner_pick WHERE part_no =#{partnerNo}
	</delete>
	
	<select id="selectAlertPaging" parameterType="Map" resultType="int">
		 SELECT count(*) FROM user_alert WHERE user_no = #{userNo}
	</select>

	<select id="selectAlarmList" resultType="ALert" parameterType="Map">
	 SELECT * FROM (
            SELECT rownum rnum, A.* FROM (
                SELECT * FROM user_alert WHERE user_no = #{userNo}
                ORDER BY alert_no desc
            ) A
        )
        WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
	</select>
	
	<delete id="myAlertListDelete" parameterType="String">
		DELETE FROM user_alert WHERE alert_no = #{alertNo}
	</delete>
	
	<select id="selectReservePaging" parameterType="Map" resultType="int">
		 SELECT count(*) FROM reservation WHERE user_no = #{userNo}
	</select>
	
	<select id="selectNewReserveList" parameterType="int" resultType="Map">
       SELECT * FROM
       (SELECT ROWNUM rnum, PR.*
        FROM(
        SELECT P.partner_shopname, P.partner_phone, P.partner_email, P.partner_type
        , R.*,
        (SELECT COUNT(*) From review WHERE user_no = #{userNo} and res_no = R.res_no) isReview
        FROM partner_tb P, reservation R
        WHERE R.user_no = #{userNo}
		AND P.partner_no = R.part_no
		AND res_date >= to_char(SYSDATE,'YYYY-MM-DD')
		ORDER BY res_date) PR
        ORDER BY rnum
        )
	</select>
	
	<select id="selectReviewPaging" parameterType="Map" resultType="int">
		SELECT count(*) FROM review WHERE user_no = #{userNo}
	</select>
	
	<delete id="myReviewListDelete" parameterType="String">
		DELETE FROM review WHERE review_no = #{reviewNo}
	</delete>
	
	<select id="selectPaylist" parameterType="Map" resultType="Map">
	    SELECT P.partner_shopname, P.partner_phone, P.partner_email, P.partner_type, P.partner_name, P.partner_pr,
	    P.partner_postcode, P.partner_address, P.partner_detailaddress, P.partner_extraaddress
        , R.*
        FROM partner_tb P, reservation R
        WHERE user_no = #{userNo}
        AND P.partner_no = R.part_no
		AND res_no = #{resNo}
	</select>
	
	<select id="selectCommentPaging" parameterType="Map" resultType="int">
		SELECT count(*) FROM freeboard_comment WHERE user_no=#{userNo}
	</select>
	
	<select id="selectCommentList" parameterType="Map" resultType="Map">
		SELECT * FROM(        
        SELECT rownum rnum, C.* FROM
        (select * from freeboard_comment WHERE user_no=#{userNo} ORDER BY comm_no DESC)C
        )
        WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<delete id="deleteMyComment" parameterType="String">
		DELETE FROM freeboard_comment WHERE comm_no = #{commNo}
	</delete>
	
	<select id="selectNoticePaging" parameterType="Map" resultType="int">
		select count(*)
		FROM partner_pick pp, partner_notice pn
		where pp.part_no = pn.partner_no
		and user_no = #{userNo}
	</select>
	
	<select id="selectPickNotice" parameterType="int" resultType="Map">
		select rownum rnum, P.* from (
		select pn.partner_notice_date, pn.partner_notice_title, pn.partner_no, pt.partner_shopname
		FROM partner_pick pp, partner_notice pn, partner_tb pt
		where pp.part_no = pn.partner_no
		and pt.partner_no = pp.part_no
		and pp.user_no = #{userNo}
		order by partner_notice_no desc)P
	</select>
	
	<select id="selectPickNoticeByuserno" parameterType="Map" resultType="Map">
		select * from(
		select rownum rnum, P.* from (
		select pn.partner_notice_date, pn.partner_notice_title, pn.partner_no, pt.partner_shopname
		FROM partner_pick pp, partner_notice pn, partner_tb pt
		where pp.part_no = pn.partner_no
		and pt.partner_no = pp.part_no
		and pp.user_no = #{userNo}
		order by pn.partner_notice_no desc)P
		)
		where rnum between #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectUsernick" parameterType="int" resultType="String">
		SELECT user_nick from user_tb WHERE user_no = #{userNick} 
	</select>
	
</mapper>
