<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pointhome.www.mypage.dao.face.MypageDao">

	<select id="selectByUserId" resultType="User" parameterType="int">
		SELECT * FROM user_tb
		WHERE user_no = #{userNo}
	</select>
	
	<update id="updateUser" parameterType="User">
		UPDATE user_tb 
		SET
	 	user_nick = #{userNick},
	 	user_phone = #{userPhone},
	 	user_postcode = #{userPostCode},
	 	user_address = #{userAddress},
		user_detailaddress = #{userDetailAddress},
		user_extraaddress = #{userExtraAddress}
		WHERE
		user_no = #{userNo}
	</update>
	
	<delete id="deleteFile" parameterType="UserFile">
		DELETE userfile_tb
		WHERE user_no = #{userNo}
	</delete>
	
	<insert id="insertFile" parameterType="UserFile">
		INSERT INTO userfile_tb
		(userfile_no
		, user_no
		, user_img)
		VALUES (userfile_tb_seq.nextval, #{userNo}, #{userImg})
	</insert>

	<select id="selectImgByUserno" parameterType="int" resultType="UserFile">
		SELECT * FROM userfile_tb
		WHERE user_no = #{userNo}
	</select>
	
	<delete id="deleteMemberByUserno" parameterType="int">
	delete from user_tb where user_no = #{userNo}
	</delete>
	
	<select id="selectByPickUserNo" parameterType="MyPick" resultType="int">
		SELECT COUNT(*) FROM partner_pick
		WHERE user_no = #{userNo} AND part_no = #{partNo}
	</select>
	
	<insert id="insertPick" parameterType="MyPick">
		INSERT INTO partner_pick (user_no, part_no)
		VALUES (#{userNo}, #{partNo})
	</insert>
	
	<delete id="deletePick" parameterType="MyPick">
		DELETE FROM partner_pick
		WHERE user_no = #{userNo} AND part_no = #{partNo}
	</delete>
	
</mapper>
