@charset "UTF-8";

a {
	color: black;
	text-decoration: none;
}
.popularity {
	margin: 20px 38px 5px 38px;
}
.popularity-text {
	font-family : 'SBAggroM';
	font-size: 45px;
	vertical-align: top;
}
.popularity-text-sub {	
	margin-top: 8px;
	margin-left: 10px;
	width: 90px;
	height: 25px;
	padding-top: 2px;
	font-size:20px;
	font-family : 'SBAggroM';
	color: white;
	line-height: 25px;
	text-align: center;
	background-color: #ff1e00;
	border-radius: 50px;
}
.card {
	margin : 0px 3px;
	border-radius: 10px;
	
}
.card-img-top{
	width: 300px;
	height: 200px;	
}
.card-content-type{
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 5px;
	width: 60px;
	height: 25px;
	padding-top: 2px;
	font-size:20px;
	font-family : 'SBAggroM';
	color: white;
	line-height: 25px;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
}
.t{
	background-color: #7e00c2;
}
.s{
	background-color: red;
}
.c{
	background-color: gray;
}
.card-star{
	display: inline-block;
}
.card-star-icon{
	vertical-align: text-bottom;
}
.card-star-cnt{
	color: #808080;
	font-family: Noto_Sans_KR700;
}
.card-comment{
	display: inline-block;
}
.card-comment-icon{
	color: #595858;
	vertical-align: middle;
	stroke: black;
}
.card-comment-cnt{
	color: #808080;
	font-family: Noto_Sans_KR700;
}
.card-title{
	margin-left: 10px;
}
.card-title-shop{
	font-size:30px;
	font-family: Noto_Sans_KR900;
}
.card-title-name{
	font-size:20px;
	font-family: Noto_Sans_KR900;
	vertical-align: text-bottom;
}