<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.pointhome.www.chat.dao.face.ChatDao">
	<select id="selectUserNick" parameterType="int" resultType="String">
		select user_nick from user_tb
		where user_no = #{userSession}
	</select>
</mapper>