@charset "UTF-8";

input, label{
	color: black !important;
	font-family: 'SBAggroM';
}
.form-content{
	text-align: center;	
	margin: 50px 600px;;
}
.logo{
	width: 500px;
}
.logo>svg{
	width: 50%;
	margin-bottom: 50px;
}
.signup-text{
	font-size: 30px;
}