<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.pointhome.www.main.dao.face.MainDao">

	<select id="selectReserveTime" resultType="String" parameterType="Reservation">
		SELECT res_time FROM reservation
		WHERE res_date = #{resDate} AND part_no = #{partNo}
	</select>
	
	<insert id="insertUserReserveData" parameterType="Reservation">
		<selectKey order="BEFORE" resultType="int"
			keyProperty="resNo">
			SELECT res_no_seq.nextval FROM dual
		</selectKey>
		INSERT INTO RESERVATION(RES_NO, PART_NO, RES_DATE ,RES_RESERVENO, USER_NO ,RES_TIME, RES_DIV, RES_PRICE)
		VALUES (#{resNo}, #{partNo}, #{resDate}, #{resReserveno}, #{userNo}, #{resTime}, #{resDiv}, #{resPrice})
	</insert>
	
	<select id="selectPartnerView" parameterType="int" resultType="Partner">
		SELECT 
			partner_nick,
			partner_email,
			partner_phone,
			partner_shopname,
			partner_type,
			partner_price,
			partner_address,
			partner_pr
		FROM partner_tb
		WHERE partner_no = #{partNo}
	</select>
	
	<select id="selectCntReview" parameterType="int" resultType="int">
		SELECT count(*) FROM review
		WHERE part_no = #{partNo}
	</select>

	<select id="selectReviewListByPartNo" parameterType="map" resultType="map">
		SELECT * FROM (
			SELECT rownum rnum, R.* FROM (
				SELECT re.*, (SELECT user_nick FROM user_tb u WHERE u.user_no = re.user_no) user_nick
				FROM review re
				WHERE re.part_no=#{partNo}
				ORDER BY review_no DESC
			) R
		)
		WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
	</select>
	
	<insert id="insertReserveAlert" parameterType="Reservation">
		INSERT INTO user_alert(alert_no, user_no, is_read, content, num, type)
		VALUES
		(user_alert_no_seq.nextval, 
	   	#{userNo}, 
	   	'N', 
	   	'결제가 완료되었습니다.', 
	   	#{resNo}, 
	   	'P')
	</insert>
	
	
	<select id="selectPartnerNotice" parameterType="int" resultType="PartnerNotice">
		SELECT rownum rnum, N.* FROM (
			SELECT * FROM partner_notice
			WHERE partner_no = #{partNo}
			ORDER BY partner_notice_no DESC
		) N
		WHERE rownum BETWEEN 1 AND 4
	</select>
	
</mapper>






