<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pointhome.www.freeboard.dao.face.FreeBoardDao">

	<select id="selectAll" resultType="FreeBoard" parameterType="Paging">
		
		select * from (
			select rownum rnum , B.*  from ( 
				select * from freeboard 
				order by freeboard_no desc 
			) B 
		)board
		where rnum between #{startNo} and #{endNo}
		
	</select>
	
	<select id="selectCntAll" resultType="int">
		select count(*) from freeboard	
	
	</select>

	<update id="hit" parameterType="int">
		update freeboard set  freeboard_hit = freeboard_hit+1
		where freeboard_no = #{freeboard_no}
		
	
	</update>	
	<select id="viewBoard" resultType="FreeBoard" parameterType="int">
	
		select * from freeboard
		where freeboard_no = #{freeboard_no}
	
	</select>
	
	<insert id="insertBoard" parameterType="FreeBoard">
		<selectKey order="BEFORE" resultType="int" keyProperty="freeboardNo">
			SELECT freeboard_no_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO freeboard ( freeboard_no, freeboard_title, freeboard_content, user_no )
		VALUES ( #{freeboardNo}, #{freeboardTitle}, #{freeboardContent}, #{userNo} )
	</insert>
		
		
	<insert id="insertFile" parameterType="FreeBoardFile">
		insert into freeboard_file 
		(freeboardfile_no
	    , freeboard_no 
	    , freeboardfile_origin
	    , freeboardfile_stored)
		values ( freeboardfile_no_seq.nextval, #{freeboardNo}, #{freeboardfileOrigin}, #{freeboardfileStored})
	</insert>



</mapper>